<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 交由spring管理 -->
    <!-- 引入配置文件 -->
    <!-- <properties resource="db.properties" />-->

    <!-- 调整设置 -->
    <settings>
        <!-- 配置日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- <setting name="logImpl" value="LOG4J"/>-->
</settings>

<!-- 类型别名 -->
    <typeAliases>
        <!-- 单个指定 -->
        <!-- <typeAlias type="com.huang.pojo.User" alias="User"/> -->
        <!-- 指定包 -->
        <package name="com.huang.pojo"/>
    </typeAliases>

    <!-- 交由spring管理 -->
    <!--
    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    -->

    <mappers>
        <mapper resource="com/huang/dao/BookMapper.xml"/>
    </mappers>
</configuration>